/* news_data : https://github.com/lbracken/news_data
   :license: MIT, see LICENSE for more details.
*/
body {
  margin: 0px 25px 0px 25px;
}

#bodyWrapper {
  width: 900px;
  
  /* For sticky footer -- http://ryanfait.com/sticky-footer/ */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -41px auto; /* the bottom margin is the negative value of the footer's height + border */
}

.welcomeText {
  font-size: 1.25em;
}

.welcomeText p {
  margin-top: 1em;  
}

#topToolbar {  
  padding: 5px;
  margin: 20px 0px 20px 10px;
  border: 2px solid #D1D1C8;
  background-color: #EBEBD7;
  border-radius: 3px;
  box-shadow: 4px 4px 4px #EBEBD7;
}

#topToolbarButtons {
  float: left;
  margin-left: 5px;
}

#topToolbarSocial {
  float: right;
}

#addTermMsg {
  font-weight: bold;
  padding: 0.5em; 
}

#addTermSection {
  float: left;
  font-size: 1.4em;
}

#addTermText {
  margin-left: 5px;
  width: 450px;
  font-size: 1.4em;
}

.addTermText-label {
  font-size: 1.25em;
}

.addTermText-desc {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
}

/* Make autocomplete suggestions scrollable by setting a fixed height */
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}
  
* html .ui-autocomplete {
  height: 300px;  /* For IE6 -- since it doesn't support max-height */
}

#addTermLoading {}

#addTermHelpText {
  margin-left: 0.5em; 
  color: #666;
  font-size: 0.8em;
  font-style: italic;
}

#addTermButton {
  margin-right: 20px; 
}

#graphHeader {
}

#termsSection {
  float: left;
  margin-top: 5px;
  width: 600px;
}

.termsListItem {
  float: left;
  position: relative;
  padding: 0.25em 35px 0.25em 0.5em; 
  margin: .5em 0em 0em 1em;
  color: #FFF;
  font-size: 1.4em;
  overflow: hidden;
  white-space: nowrap;  
  border-radius: 3px;
  box-shadow: 2px 2px 2px #CCC, 0 0 40px rgba(0, 0, 0, 0.4) inset;
  cursor: pointer;
}

.termsListItem-hover {
  margin-top: 0em;
  padding-bottom: .75em; /* Equal to margin-top + padding-bottom */
}

.termsListItem-Close {
  position: absolute;
  top: 0;
  right: 2px; 
}

#termsTotal {
  float: right;
  width: 250px;
  border-left: 1px solid #CCC;
  padding-left: 15px;
  margin: 5px 15px 0px 15px;
}

#termsBarChart {
}

#graphSection {
  width: 900px;
}

#timeSeriesGraph {
  background-color: #eee;
  border: 2px solid #D1D1C8;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #EBEBD7;
}

#downloadIcon {
  margin-right: 0.4em;
}
